<div class="modal">
    <div class="modal-dailog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">修改密码</h4>
                <button class="close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="tip">*zxcczxc</div>
                <p><span>新密码：</span><input type="password"  id="newPassword"></p>
                <p><span>确认密码：</span><input type="password"  id="rePassword"></p>
            </div>
            <div class="modal-footer">
                <button class="btn" id="submit">确认</button>
                <button class="btn close">取消</button>
            </div>
        </div>
    </div>
</div>