<div class="nav">
    <a id="logo" href="/">
       <img src="/public/img/logo.png" alt="">
    </a>
    <ul class="navlist">
        <li>
            <a href="/">博客首页</a>
        </li>
        <li>
            <a href="/blog">学无止境</a>
        </li>
        <li>
            <a href="/code">源码案例</a>
        </li>
        <li>
            <a href="/book">阅读人生</a>
        </li>
        <li>
            <a href="/link">网站导航</a>
        </li>
        <li>
            <!-- <a>关于自我</a> -->
        </li>
    </ul>
</div>